<div id="circlemenuView" class="c-circlemenu">
  <button class="btn-toggle-menu js-btn-toggle-menu" type="button" name="button">
    <svg class="c-icon -medium"><use xlink:href="#icon-check"></use></svg>
  </button>
  <ul class="ul-toggle-menu js-ul-toggle-menu -active">
    <li class="js-ul-toggle-menu-item">
      <svg class="c-icon -medium"><use xlink:href="#icon-plus"></use></svg>
    </li>
    <li class="js-ul-toggle-menu-item">
      <svg class="c-icon -medium"><use xlink:href="#icon-plus"></use></svg>
    </li>
    <li class="js-ul-toggle-menu-item">
      <svg class="c-icon -medium"><use xlink:href="#icon-plus"></use></svg>
    </li>
    <li class="js-ul-toggle-menu-item">
      <svg class="c-icon -medium"><use xlink:href="#icon-plus"></use></svg>
    </li>
    <li class="js-ul-toggle-menu-item">
      <svg class="c-icon -medium"><use xlink:href="#icon-plus"></use></svg>
    </li>
    <li class="js-ul-toggle-menu-item">
      <svg class="c-icon -medium"><use xlink:href="#icon-plus"></use></svg>
    </li>
  </ul>
</div>
