<div id="sliderView" class="c-slider">
  <ul>
    <li class="c-slider-item js-slider-item -color1 -initial">
      <div class="c-slider-arrows">
        <ul>
          <li class="arrow -left js-slider-arrow js-slider-prev" data-direction="prev">
            <button type="button" name="button">
              <svg class="c-icon -medium"><use xlink:href="#icon-arrow-left"></use></svg>
            </button>
          </li>
        </ul>
      </div>
    </li>
    <li class="c-slider-item js-slider-item -color2">
      <div class="c-slider-arrows">
        <ul>
          <li class="arrow -left js-slider-arrow js-slider-prev" data-direction="prev">
            <button type="button" name="button">
              <svg class="c-icon -medium"><use xlink:href="#icon-arrow-left"></use></svg>
            </button>
          </li>
          <li class="arrow -rigth js-slider-arrow js-slider-next" data-direction="next">
            <button type="button" name="button">
              <svg class="c-icon -medium"><use xlink:href="#icon-arrow-right"></use></svg>
            </button>
          </li>
        </ul>
      </div>
    </li>
    <li class="c-slider-item js-slider-item -color3">
      <div class="c-slider-arrows">
        <ul>
          <li class="arrow -left js-slider-arrow js-slider-prev" data-direction="prev">
            <button type="button" name="button">
              <svg class="c-icon -medium"><use xlink:href="#icon-arrow-left"></use></svg>
            </button>
          </li>
          <li class="arrow -rigth js-slider-arrow js-slider-next" data-direction="next">
            <button type="button" name="button">
              <svg class="c-icon -medium"><use xlink:href="#icon-arrow-right"></use></svg>
            </button>
          </li>
        </ul>
      </div>
    </li>
    <li class="c-slider-item js-slider-item -color4">
      <div class="c-slider-arrows">
        <ul>
          <li class="arrow -left js-slider-arrow js-slider-prev" data-direction="prev">
            <button type="button" name="button">
              <svg class="c-icon -medium"><use xlink:href="#icon-arrow-left"></use></svg>
            </button>
          </li>
          <li class="arrow -rigth js-slider-arrow js-slider-next" data-direction="next">
            <button type="button" name="button">
              <svg class="c-icon -medium"><use xlink:href="#icon-arrow-right"></use></svg>
            </button>
          </li>
        </ul>
      </div>
    </li>
    <li class="c-slider-item js-slider-item -color5">
      <div class="c-slider-arrows">
        <ul>
          <li class="arrow -rigth js-slider-arrow js-slider-next" data-direction="next">
            <button type="button" name="button">
              <svg class="c-icon -medium"><use xlink:href="#icon-arrow-right"></use></svg>
            </button>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
