<div id="sliderView" class="c-slider">
  <ul>
    <li class="c-slider-item js-slider-item -color1"></li>
    <li class="c-slider-item js-slider-item -color2"></li>
    <li class="c-slider-item js-slider-item -color3"></li>
    <li class="c-slider-item js-slider-item -color4"></li>
    <li class="c-slider-item js-slider-item -color5"></li>
  </ul>

  <div class="c-slider-arrows">
    <ul>
      <li class="arrow -prev js-slider-prev"><button type="button" name="button">Prev</button></li>
      <li class="arrow -rigth js-slider-next"><button type="button" name="button">Next</button></li>      
    </ul>
  </div>

</div>
