<div id="sliderView" class="c-slider">
  <ul>
    <li class="c-slider-item js-slider-item -color1 -initial">
      <div class="c-slider-arrows">
        <ul>
          <li class="arrow -left js-slider-arrow" data-direction="prev">
            <button type="button" name="button">
              <svg class="c-icon -medium"><use xlink:href="#icon-arrow-left"></use></svg>
            </button>
          </li>
          <li class="arrow -rigth js-slider-arrow" data-direction="prev">
            <button type="button" name="button">
              <svg class="c-icon -medium"><use xlink:href="#icon-arrow-left"></use></svg>
            </button>
          </li>
        </ul>
      </div>

      <div class="c-slider-step js-slider-step -active">
        Step 1
      </div>
      <div class="c-slider-step js-slider-step">
        Step 2
      </div>
      <div class="c-slider-step js-slider-step">
        Step 3
      </div>
      <div class="c-slider-step js-slider-step">
        Step 4
      </div>
    </li>

    <li class="c-slider-item js-slider-item -color2">
      <div class="c-slider-arrows">
        <ul>
          <li class="arrow -left js-slider-arrow" data-direction="prev">
            <button type="button" name="button">
              <svg class="c-icon -medium"><use xlink:href="#icon-arrow-left"></use></svg>
            </button>
          </li>
          <li class="arrow -rigth js-slider-arrow" data-direction="next">
            <button type="button" name="button">
              <svg class="c-icon -medium"><use xlink:href="#icon-arrow-right"></use></svg>
            </button>
          </li>
        </ul>
      </div>
      <div class="c-slider-step js-slider-step -active">
        Step 1
      </div>
      <div class="c-slider-step js-slider-step">
        Step 2
      </div>
      <div class="c-slider-step js-slider-step">
        Step 3
      </div>
    </li>

    <li class="c-slider-item js-slider-item -color3">
      <div class="c-slider-arrows">
        <ul>
          <li class="arrow -left js-slider-arrow" data-direction="prev">
            <button type="button" name="button">
              <svg class="c-icon -medium"><use xlink:href="#icon-arrow-left"></use></svg>
            </button>
          </li>
          <li class="arrow -rigth js-slider-arrow" data-direction="next">
            <button type="button" name="button">
              <svg class="c-icon -medium"><use xlink:href="#icon-arrow-right"></use></svg>
            </button>
          </li>
        </ul>
      </div>
      <div class="c-slider-step js-slider-step -active">
        Step 1
      </div>
    </li>

    <li class="c-slider-item js-slider-item -color4">
      <div class="c-slider-arrows">
        <ul>
          <li class="arrow -left js-slider-arrow" data-direction="prev">
            <button type="button" name="button">
              <svg class="c-icon -medium"><use xlink:href="#icon-arrow-left"></use></svg>
            </button>
          </li>
          <li class="arrow -rigth js-slider-arrow" data-direction="next">
            <button type="button" name="button">
              <svg class="c-icon -medium"><use xlink:href="#icon-arrow-right"></use></svg>
            </button>
          </li>
        </ul>
      </div>
      <div class="c-slider-step js-slider-step -active -light">
        Step 1
      </div>
      <div class="c-slider-step js-slider-step -light">
        Step 2
      </div>
    </li>

    <li class="c-slider-item js-slider-item -color5">
      <div class="c-slider-arrows">
        <ul>
          <li class="arrow -left js-slider-arrow" data-direction="next">
            <button type="button" name="button">
              <svg class="c-icon -medium"><use xlink:href="#icon-arrow-right"></use></svg>
            </button>
          </li>
          <li class="arrow -rigth js-slider-arrow" data-direction="next">
            <button type="button" name="button">
              <svg class="c-icon -medium"><use xlink:href="#icon-arrow-right"></use></svg>
            </button>
          </li>
        </ul>
      </div>
      <div class="c-slider-step js-slider-step -active -light">
        Step 1
      </div>
      <div class="c-slider-step js-slider-step -light">
        Step 2
      </div>
      <div class="c-slider-step js-slider-step -light">
        Step 3
      </div>
    </li>
  </ul>
</div>
